.places {
  margin: 0 auto;
  padding: 56px 24px;
}

@media (max-width: 1024px) and (min-width: 545px) {
  .places {
    padding: 44px 20px;
  }
}

@media (max-width: 544px) {
  .places {
    padding: 28px 16px;
  }



}
